.webBg {
    height: 100vh;
    background: url('images/bg/main.webp');
    background-attachment: fixed;
    background-size: cover;
}

.intro {
    height: 100vh;
}

.trending {
    background: url('images/bg/romance.webp');
    background-attachment: fixed;
    background-size: cover;
}
.superhero {
    background: url('images/bg/scifi.webp');
    background-attachment: fixed;
    background-size: cover;
}

.card {
    margin: 5px;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(82, 9, 9) 35%, rgb(116, 68, 29) 100%);
    border: none;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    text-shadow: 2px 2px black;
    letter-spacing: 10px;
}

.subtitle {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    text-shadow: 2px 2px black;
}

.gotop {
    position: fixed;
    bottom: 10px;
    right: 10px;
}